b{
font-size: 30px;
font-family: sans-serif;
padding-left: 150px;
}
u{
    padding-left: 150px;
    font-family: sans-serif;
    text-decoration: none;
}
.user{
    padding-left: 150px;
    font-family: sans-serif;
}
input{
    width: 500px;
    height: 30px;
}
body{
    background-size: 100%;
}
.button{
    width: 70px;
    background: rgb(18, 199, 18);
    color: white;
    border-radius: 2px;
    border: none;
}.button:hover{
    background: green;
}
.RESET{
    background:red;
    width: 70px;
    color: white;
    border-radius: 2px;
    border: none;
}.RESET:hover{
    background: rgb(161, 11, 11);
}
.date{
    width: 150px;
}